*{


/* blue: */
color: #26d3e0;

/* purple */
color: #b660e8;

/* light purple */
color: #272a4e;


/* dark purple */
color: #15172e;


/* 3rd mid purple */
color: #1f2243;

color: #63d19e;

background: linear-gradient(144deg, #26d3e0, #b660e8);


/* <!-- glass morph--> */
background: rgba(39, 42, 78, 0.57);
border-radius: 0px 0px 15px 15px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
line-height: 0px !important;

}


/* number_format($sub_total, 2) */

/* &#8369; */

/* green */


